@model IEnumerable<Emanproject.Models.Country>

@{
    ViewBag.Title = "Countries";
}



<a style="cursor:pointer" >
    @Html.ActionLink("Create New", "Create" ,null,null,new { @class = "text-dark bg-success px-4 py-2 h2 " })
</a>
<table class="table table-bordered text-center text-dark mt-4 table-responsive-md table-responsive-sm">
    <tr class="table-success">
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
           
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
